.calculator {
  width: 90%;
  margin: 0 auto;
    .result {
      width: 93%;
      height: 100px;
      margin: 15px 2px;
      background: #ddd;
      font-size: 4rem;
      line-height: 6.5rem;
      font-family: avenir;
      text-align: right;
      padding-right: 5%;
      color: #fff;
    }
    input {
    width: 24%;
    height: 100px;
    margin: 2px;
    background: #4ea5fd;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    line-height: 6.5rem;
    font-family: avenir;
    float: left;
  }
}

#equals {
  width: 49%;
}

@media screen and (max-width: 500px) {
  .calculator {
    width: 100%;
    input {
      width: 23%;
    }
    #equals {
      width: 47%;
    }
  }
}

@media screen and (min-width: 600px) {
  .calculator {
    width: 70%;
  }
}

@media screen and (min-width: 800px) {
  .calculator {
    width: 50%;
  }
}
